
[mysqld]
#设置连接超时时间为21天
wait_timeout=1814400

#关闭binlog
skip-log-bin

#最大允许传输包的大小
max_allowed_packet=20M

#no case sensitive 这个仅mysql初始化时有效
lower_case_table_names=1

#no passwd
#skip-grant-tables

#最大连接数
max_connections=5000

[mysql]
host=localhost
user=root
password=root
#设置mysql客户端默认字符集
default-character-set=utf8mb4

[mysqldump]
#防止mysqldump导出出现警告
host=localhost
user=root
#password='fB7)bA0&cA6!iI2'
password=root

[client]
port=3306
default-character-set=utf8mb4